body {
    margin: 0;
    overflow: hidden;
}

#menu, #gameModeMenu, #settingsMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
	color: rgb(194, 37, 155);
	border-color: aquamarine;
	border: 2px solid;
}

#menu button, #gameModeMenu button, #settingsMenu button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
}

#settingsMenu label, #settingsMenu input {
    display: block;
    margin: 10px auto;
    font-size: 16px;
}

.gamecontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}